@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:wght@100;500&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 120px; /*referente ao espaço INTERNO*/
    height: 56px;
}

.header-left {
    color: #252828
}

.header-right button {
    margin-left: 24px;
    padding: 6px 12px;
    background-color: transparent;
    color: #000000; /*referente ao texto*/
    border: none;
    border-radius: 5px;
    cursor: pointer; /*indica com o mouse quando sobrepasa sobre o textto*/
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s, transdform 0.3s;
}

body {
    margin: 0;
    background-color: #f9faff;
}

figure img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.header-right button:hover {
    color: #ccc;
    transform: scale(1.1);
}

.header-left span {
  	font-family: "Comfortaa", serif;
    font-size: 18px;
  	font-weight: 700;
  	font-style: bold;
}

.intro {
    width: 486px;
    height: 621px;
    gap: 12px;
    margin-top: 54px;
    margin-left: 120px;
    padding: none;
}

.intro h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: 0%;
    margin-bottom: 32px;
    margin-top: none;
}

.intro_paragraph {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    color: #828282;
}

.intro_button {
    display: flex;
    justify-content: flex-start;
    
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 43px;
}

.intro_contato h1{
    font-size: 18px;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal; 
    color: white;
    width: 68;
    height: 27;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0%;
}

.intro_contato {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: #252828;
    margin-right: 12px;
    text-align: left;
    border-radius: 10%;
    cursor: pointer;
    padding: 24px 8px;
}

/* .intro_linkedin
 {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: transparent;
    border-color: #252828;
    margin-right: 12px;
    text-align: left;
    border-radius: 10%;
    cursor: pointer;
} */

.intro_linkedin {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 116;
    height: 43;
    border-radius: 8px;
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
    
}

.intro_contato {
    width: 116;
    height: 43;
    border-radius: 8px;
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
}

.intro_linkedin h1{
    font-size: 18px;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal; 
    color: #252828;
    width: 68;
    height: 27;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0%;
    margin: none;
}
.projects {
    margin-left: 222px;
    margin-right: 226px;
    margin-top: 42px; 
    padding-top: 20px; 
}

.projects h2 {
    justify-content: center;
    display: flex;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: center;
    height: 27px;
}

