@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:wght@100;500&display=swap');


.root {
    --color-light-background: #f9faff;
    --color-light-gray: #ccc;
}

body {
    margin: 0;
    background-color: #f9faff;
}

figure img {
    position: absolute; 
    right: 0;
    top: 0;
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 120px; /*referente ao espaço INTERNO*/
    height: 56px;
}

.header-left h1 {
    font-family: "Comfortaa", serif;
    font-size: 18px;
    line-height: 32px;
    color: var(--color-light-title);
    font-weight: bold;
}

.header-right a {
    margin-left: 24px;
    padding: 6px 12px;
    background-color: transparent;
    color: #000000; /*referente ao texto*/
    border: none;
    border-radius: 5px;
    cursor: pointer; /*indica com o mouse quando sobrepasa sobre o textto*/
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

nav{
    display: flex; /*muda a alinhamento dos objetos, ficam lado a lado*/
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px; /*espaco entre os elementos*/
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.header-right a:hover {
    color: #ccc;
    transform: scale(1.1);
}

.header-left span {
  	font-family: "Comfortaa", serif;
    font-size: 18px;
  	font-weight: 700;
  	font-style: bold;
}

/* style do about */


.about { 
    max-width: 486px; /*max permite que o elemento sela 'maleavel' altere de tamanho em resoluceos de tela diferentes*/
    /* margin-top: 54px;
    margin-left: 120px; */
    padding: 54px 120px 42px; /*1° top; 2° direita; 3° baixo*/
}

.about h2 {
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 32px;
    color: #25282b;
    margin-top: 0;
}

.about p {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    color: #828282;
}

.intro_button {
    display: flex;
    justify-content: flex-start;
    
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 43px;
}

.intro_contato h3{
    font-size: 18px;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal; 
    color: white;
    font-weight: 500;
    line-height: 27px;
}

.intro_contato {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: #252828;
    margin-right: 12px;
    text-align: left;
    border-radius: 10%;
    cursor: pointer;
    padding: 8px 24px;
    width: 116;
    height: 43;
    border-radius: 8px;
}

.intro_linkedin {
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 116;
    height: 43;
    border-radius: 8px;
    padding: 8px 24px;
    background-color: transparent;
    border-color: #252828;
    border-radius: 8px;
}

.intro_linkedin h4{
    font-size: 18px;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal; 
    color: #252828;
    font-weight: 500;
    line-height: 27px;
}
.projects {
    margin-left: 222px;
    margin-right: 226px;
    margin-top: 42px; 
    padding-top: 20px; 
}

.projects h5 {
    justify-content: center;
    display: flex;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: center;
    height: 27px;
}
